 /* color variables */
 $color-Dark: #000000;
 $color-Light: #E4F0D7;


 /* fonts variables */
 $font-1: "Inter";

 a {
   text-decoration: none;
 }

 a:hover {
   text-decoration: none; transition-duration: 0.8s;
 }

 html {
   scroll-behavior: smooth;
 }

 body {
   font: 400 16px $font-1;
   background-color: $color-Light;
   color: $color-Dark;
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }



 p {
   font: 400 normal 16px/1.5 $font-1;
   padding: 0;
   margin: 0;
 }
